<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first" contentId="main" autoHide="false">
  <ion-header>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-toolbar color="primary">
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item href="/home">Home</ion-item>
      <ion-item href="/business">Business</ion-item>
      <ion-item href="/technology">Technology</ion-item>
      <ion-item href="/entertainment">Entertainment</ion-item>
      <ion-item href="/sports">Sports</ion-item>
      <ion-item href="/health">Health</ion-item>
      <ion-item href="/science">Science</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content>

    <ion-list>
      <ion-item href="/home">Home</ion-item>
      <ion-item href="/business">Business</ion-item>
      <ion-item href="/technology">Technology</ion-item>
      <ion-item href="/entertainment">Entertainment</ion-item>
      <ion-item href="/sports">Sports</ion-item>
      <ion-item href="/health">Health</ion-item>
      <ion-item href="/science">Science</ion-item>
    </ion-list>

  <ion-card *ngFor="let article of items?.articles" (click)="openNews(article)">
    <ion-img [src]="article?.urlToImage"></ion-img>
    <ion-card-content>
      <ion-card-title>{{article?.title}}</ion-card-title>
      <p>{{article?.description}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
